@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;          
    padding: 0;
    box-sizing: border-box;
    list-style: none;          /* tirar as bolinhas q ficam do lado*/
    outline: none;
    border: none;
    text-decoration: none;      /* tirar o traço q fica abaixo do link*/
    
}

html {
    width: 100vw;
    height: 100vh;
    font-size: 62.5%; 
    font-family: 'Roboto Slab', serif;
    overflow-x: hidden;         /* nao ter barra de rolagem  horizontal*/
    scroll-behavior: smooth;
}

/* menu */                                                                                             



.content {
    width: 100vw;
    height: 65px;
    display: flex;      /* deixar as coisas um do lado do outro*/
    justify-content: space-around;   /* colcoar espaçamento entre os itens  */
    align-items: center;    /*alinhar ao centro */
    background-color: #000000;  /*cor do menu  */
    position: fixed;        /* deixar o menu fixe em cima */
    padding-left: 20rem;
}

.logo {
    width: 65px;
    height: auto;
    cursor: pointer;    /*faz o cursor do mouse aparecer a maozinha */
    display: flex;      
    align-items: center; 
}


.logo h3 {
   color: rgb(255, 255, 255);
   font-size: 1.8rem;
   

}


.logo img {
    width: 100%;
    height: 100%;
}

.content .list-menu {
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.content .list-menu li a{
    padding : 3rem 1rem 2rem 1rem;  
    color: rgb(255, 255, 255);
    font-size: 1.8rem;
    text-transform: uppercase;  /* deixar a letra maiuscula */
    font-weight: 500;
    transition: all 260ms ease-in;  /* transiçao do efeito ao passar o mouse */
}

.content .list-menu li a:hover{   /* efeito quando passa o mouse por cima */
    background-color: #ffffff;  
    border-bottom: 4px solid #e21111;   /* borda na parte de baixo */
    color: #000000;          /* cor da letra */
}



.first-section{
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(rgba(54, 50, 50, 0.384), rgba(29, 29, 29, 0.8)), url(./pizza.webp);  /* colocar uma cor em cima da img */
    background-position: center center;  /* centralizar a img */
    background-size: cover;      /* cobrir todo tela */
    background-repeat: no-repeat;    /* para n repetir a img */
    background-position-y: 1px;      /* baixar a img */
    display: flex;
    flex-direction: column;     /* deixar um em cima do outro */
    justify-content: center;    /*aliando na vertical */    
    align-items: center;        
}

.first-section .conteudo-principal{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.first-section h1{
    color: #ffffff;
    font-size: 6.5rem;
    text-transform: uppercase;
    margin-bottom: 0.5rem;       /* distanciamento do sub titulo */
    font-family: 'Roboto Slab', serif;
}

.first-section h2{
    color: rgba(233, 224, 224, 0.74);
    font-size: 3rem;
    font-weight: 400;    /* grossura da fonte */
    text-transform: uppercase; 
    font-family: 'Roboto Slab', serif;
    margin-bottom: 3rem;    
}

.btn button {
    width: 225px;
    height: 55px;
    cursor: pointer; 
    text-transform: uppercase;
    background-color: #000000;
    border-radius: 10px;     /* deixar redando as pontas */
    color: rgb(255, 255, 255);
    font-weight: 700;
    transition: all 400ms ease-in;
    margin-top: 5rem;   
}

.btn button:hover {        
    border: 1px solid #ff0000;
    background-color: transparent;  /* deixar o fonto tranparente */
    color: #ffffff;         
}

.btn{   /* caixa da btn */
    width: 460px;
    display: flex;
    justify-content: space-between;

}

.horario {
    background-color: #0c0c0c;
    width: 100%;
    padding-bottom: 5rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.contentsobre {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main{
    
    display: flex;
    justify-content: space-between;
}

.horario img {
    width: 400px;
    height: 400px;
    margin-top: 8rem;
    margin-left: 15rem;
    border: 2px solid rgb(88, 82, 82);
}

.contentsobre h2 {
   font-size: 5rem;
   margin-bottom: 1rem;
   font-family: 'Roboto', sans-serif;
   
}

.contentsobre p {
   text-align: center;
   font-size: 1.9rem;
   width: 500px;
}

.cardapio {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(#0f0f0f, #0a0a0a), url(/img/cardapio.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cardapio h2 {
    font-size: 5rem;
    color: #ffffff;
    text-transform: uppercase;
    font-family: 'Roboto Slab', serif;
    
}

.itens-cardapio {
    width: 80%;
    margin-top: 2rem;
    margin-bottom: 4rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 550px));
    justify-content: center;
    align-items: center;
    gap: 30px;
    display: flex;
    
    
}

.itens-cardapio .info {
    background-color: rgb(211, 208, 208);
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.itens-cardapio .info h3 {
    font-size: 1.6rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-decoration: underline;
}

.itens-cardapio .info h4 {
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-bottom: 0.7rem;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 150px 150px;
    margin-left: 4rem;
    
    
}

.itens-cardapio .info h4 span{
    font-size: 1.6rem;
    color:#000000;
    margin-left: 1.5rem;
    text-decoration: none;   /* tirar o traço q fica abaixo do link*/
    font-family: 'Roboto Slab', serif;
    
    
}

.itens-cardapio div {  /* div da img do cardapio com a descriçao*/
    background-color: #000000;
    box-shadow: 0px 0px 4px 1px ;
}

.itens-cardapio img {
    width: 100%;
    height: 250px;
}

.itens-cardapio .info .pedir {
    width: 250px;
    height: 35px;
    margin-top: 0.5rem;
    background-color: #000000;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
    color: rgb(255, 255, 255);
    transition: all 200ms ease-in;
    font-family: 'Roboto Slab', serif;
    
}

.itens-cardapio .info .pedir:hover {
    background-color: #fffcfc;
    color: rgb(0, 0, 0);
}























